.modal {
  position: absolute;
  left: 0;
  top: 50px;
  display: none;
  border-radius: 12px;
  padding: 36px 34px;
  width: 248px;
  height: 305px;
  background: $mine-shaft;

  &__inner {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    height: 100%;
    gap: 28px;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: $tundora;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: $white;

      &:hover {
        background: $alto;
      }

      &:active {
        background: $dusty-gray;
      }
    }
  }

  &__item {
    @include text($stratos, $font-weight-standard, $font-size-modal-item, $white, $line-height-modal-item);

    position: relative;
    display: flex;
    gap: 14px;
  }

  &__checkbox {
    appearance: none;
    position: absolute;
  }

  &__label {
    padding-left: 25px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 1px;
      top: 1px;
      z-index: 1;
      display: block;
      border: 1px solid $white;
      border-radius: 50%;
      width: 18px;
      height: 18px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 3%;
      top: 20%;
      z-index: 2;
      display: block;
      border-radius: 50%;
      width: 11px;
      height: 11px;
      background: $white;
      opacity: 0;
    }
  }

  &__checkbox:checked + .modal__label::after {
    opacity: 1;
  }

  &__item-button {
    border: none;
    color: $white;

    &.active {
      text-decoration: underline;
      color: $heliotrope;
    }
  }

  &.checkbox {
    width: 450px;
    height: 100px;

    & > .modal__inner {
      flex-direction: row;
      align-items: center;
      overflow: hidden;
      gap: 28px;
    }
  }
}
