.volume {
  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }

  &__image {
    margin-right: 17px;
    width: 13px;
    height: 20px;
  }

  &__svg {
    width: 13px;
    height: 18px;
    fill: transparent;

    & mask {
      fill: $white;
    }

    & path:nth-child(2) {
      fill: $white;
    }

    & path:nth-child(3) {
      stroke: $white;
    }
  }

  &__progress {
    width: 109px;
  }

  &__progress-line {
    width: 109px;
  }
}
