/**
*
* This file contains all application-wide Sass variables.
*
*/

/// REGULAR FONT-FAMILY

/// COPY COLOR
$white: rgb(255 255 255);
$black: rgb(0 0 0);
$mine-shaft: rgb(51 51 51);
$alto: rgb(217 217 217);
$mercury: rgb(232 232 232);
$gray: rgb(132 132 132);
$athens-gray: rgb(245 245 246);
$seashell: rgb(241 241 241);
$nobel: rgb(181 181 181);
$mine-shaft-opacity: rgb(51 51 51 / 60%);

/// WIDTH COMPONENTS AND LAYOUT

/// HEIGHT COMPONENTS AND LAYOUT

/// MARGIN

/// PADDING COMPONENTS AND LAYOUT

/// FONT-SIZE

///FONT-WEIGHT

/// LINE-HEIGHT

///LETTER-SPACING

///BOX-SHADOW
