.track {
  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 447px;
    gap: 17px;
  }

  &__title-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    width: 51px;
    height: 51px;
    background: $mine-shaft-black;
  }

  &__title-svg {
    width: 18px;
    height: 17px;
    fill: transparent;

    & path,
    & ellipse {
      stroke: $tundora;
    }
  }

  &__title-link {
    @include text($stratos, $font-weight-standard, $font-size-standard, $white, $line-height-link);
  }

  &__title-span {
    @include text($stratos, $font-weight-standard, $font-size-standard, $tundora, $line-height-link);
  }

  &__author {
    display: flex;
    justify-content: flex-start;
    width: 321px;
  }

  &__author-link {
    @include text($stratos, $font-weight-standard, $font-size-standard, $white, $line-height-link);

    text-align: left;
  }

  &__album {
    width: 245px;
  }

  &__album-link {
    @include text($stratos, $font-weight-standard, $font-size-standard, $dove-gray, $line-height-link);
  }

  &__time-svg {
    margin-right: 17px;
    width: 14px;
    height: 12px;
    fill: transparent;

    & path {
      stroke: $dove-gray;
    }
  }

  &__time-text {
    @include text($stratos, $font-weight-standard, $font-size-standard, $dove-gray, $line-height-link);

    text-align: right;
  }
}
