/**
* Here are the basic fonts
* for the layout of the website
*/

@font-face {
  src: url("/src/assets/fonts/StratosSkyeng.woff2") format("woff2");
  src: url("/src/assets/fonts/StratosSkyeng.woff") format("woff");
  src: url("/src/assets/fonts/StratosSkyeng.ttf") format("truetype");
  font-family: "StratosSkyeng";
  font-weight: 400;
  font-style: normal;
}
