/**
*
* This file contains a list of imported files.
*
*/

// 1 - ABSTRACTS
@import "abstracts/animaton";
@import "./abstracts/variables";
@import "./abstracts/mixins";

// 2 - BASE
@import "./base/base";

// 3 - COMPONENTS
@import "./components/logo";
@import "./components//burger";
@import "./components/menu";
@import "./components/playlist-title";
@import "./components/track-play";
@import "./components/volume";
@import "./components/modal";

// 4 - LAYOUT
@import "./layout/main";
@import "./layout/nav";
@import "./layout/center-block";
@import "./layout/search";
@import "./layout/content";
@import "./layout/playlist";
@import "./layout/track";
@import "./layout/sidebar";
@import "./layout/bar";
@import "./layout/player";
@import "./layout/track";
@import "./layout/filter";

// 5 - PAGES
