@import '/src/style/abstracts/variables';
@import '/src/style/abstracts/mixins';

.form {
  display: flex;
  flex-direction: column;
  max-width: 366px;
  width: 100%;
  height: 439px;
  padding: 43px 47px;
  border-radius: 12px;
  background: $white;
}

.logo {
  margin: 0 auto;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 38px;
  width: 100%;
  margin-top: 42px;
}

.input {
  @include text($stratos, $font-weight-standard, $font-size-form-input, $mine-shaft, $line-height-form-input);

  border: none;
  border-bottom: 1px solid $alto;
  padding-bottom: 8px;

  &.invalid {
    border-bottom: 1px solid $red;
  }

  &:focus {
    @include text($stratos, $font-weight-standard, $font-size-form-input, $mine-shaft, $line-height-form-input);
    border: none;
    border-bottom: 1px solid $alto;
    padding-bottom: 8px;

    outline: none;
  }

  &::placeholder {
    @include text($stratos, $font-weight-standard, $font-size-form-input, $mine-shaft, $line-height-form-input);
    border: none;
    border-bottom: 1px solid $alto;
    padding-bottom: 8px;

    outline: none;
  }
}

.controller {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 60px;
}

.button {
  @include text($stratos, $font-weight-standard, $font-size-button, $black, $line-height-form-button);

  max-width: 278px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid $alto;
  padding: 16px 0 16px;
  text-align: center;
  background: $white;
  transition: background 0.2s linear;

  &:hover {
    background: $porcelain;
  }

  &:active {
    background: $alto;
  }
}

.submit {
  color: $white;
  background: $blue-gem;

  &:hover {
    background: $pigment-indigo;
  }

  &:active {
    background: $valhalla;
  }

  &:disabled {
    background: $alto;
    cursor: not-allowed;
  }
}
